@import "../../../styles/mixins.scss";

.menu {
  position: fixed;
  z-index: 20;
  bottom: 10px;
  right: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.contentMenuICon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background: #151518;
  border: 1px solid #393939;
  span {
    color: #fff;
    font-size: 20px;
  }
}

.to {
  display: none;
}

.to {
  &:checked ~ .itemMenuOne {
    bottom: 55px;
    right: 0px;
    opacity: 1;
  }
}

.to {
  &:checked ~ .itemMenuDos {
    right: 0px;
    bottom: 120px;
    opacity: 1;
  }
}

.to {
  &:checked ~ .itemMenuTres {
    right: 0px;
    bottom: 185px;
    opacity: 1;
  }
}
.to {
  &:checked ~ .itemMenuCuatro {
    right: 0px;
    bottom: 250px;
    opacity: 1;
  }
}

/*------------------------------------------------------------------------*/

.itemMenuOne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #151518;
    border: 1px solid #393939;
    width: 50px;
    height: 50px;
    color: #fff;

    &:hover {
      background: #151518;
    }
  }
  p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
}

.itemMenuDos {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #151518;
    border: 1px solid #393939;
    width: 50px;
    height: 50px;
    color: #fff;
    &:hover {
      background: #151518;
    }
  }
  p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
}

.itemMenuTres {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #151518;
    border: 1px solid #393939;
    width: 50px;
    height: 50px;
    color: #fff;
    &:hover {
      background: #151518;
    }
  }
  p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
}

.itemMenuCuatro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #151518;
    border: 1px solid #393939;
    width: 50px;
    height: 50px;
    color: #fff;
    &:hover {
      background: #151518;
    }
  }
  p {
    font-size: 10px;
    font-weight: 500;
    color: #fff;
  }
}
