.cardCategory {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 150px;
  border-radius: 23px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 23px;
  }
}

.categoryInfo {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 23px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 50px;

  h1 {
    font-size: 25px;
  }

  span {
    border-radius: 10px;
    background: #141921;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 10px;
  }
}
