@import "../../../styles/mixins.scss";

.contenQrMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.qr {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  min-width: 400px;
  min-height: 400px;

  @include media-xl() {
    width: 280px;
    height: 280px;

    min-width: 280px;
    min-height: 280px;
  }

  .topLeft {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    left: 0;
    border-left: 8px solid #fff;
    border-top: 8px solid #fff;
    border-radius: 20px 0 0 0;
  }

  .topRight {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    right: 0;
    border-right: 8px solid #fff;
    border-top: 8px solid #fff;
    border-radius: 0 20px 00;
  }

  .bottomLeft {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    left: 0;
    border-left: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-radius: 0 0 0 20px;
  }

  .bottomRight {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;
    right: 0;
    border-right: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-radius: 0 0 20px 0;
  }

  img {
    width: 350px;
    height: 350px;

    @include media-xl() {
      width: 220px;
      height: 220px;
    }
  }
}

.msgQr {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
}
