.sideBar {
  width: 270px;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: linear-gradient(180deg, #263646 0%, #0a1015 100%);
  bottom: 0;
  left: 0;
  border-top: 1px solid #3f5265;
  transition: left 0.5s;
  z-index: 20;
}

.ulSideBar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.linkSideBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  padding: 5px;
  width: 240px;
  color: #999;
  font-weight: 500;
  transition: all 0.5s;

  &:hover {
    background-color: #60b2e4;
    color: #ffffff;
  }

  span {
    font-size: 28px;
    margin-right: 10px;
  }
}
