.DDProduct {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  line-height: 95%;
  border-radius: 10px;
  font-size: 14px;
  padding: 3px;
  padding-bottom: 5px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #3c354a;
  backdrop-filter: blur(70px);
  p {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.DDProductOfert {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  line-height: 95%;
  border-radius: 10px;

  font-size: 14px;
  padding: 3px;
  padding-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #3c354a;
  backdrop-filter: blur(70px);

  p {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.buttonDelete {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 19px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 7px;

  &:hover {
    border: 1px solid #ac6aec;
  }

  &:active {
    transform: scale(0.9);
  }
}
.buttonEdit {
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 19px;
  padding: 3px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 7px;

  &:hover {
    border: 1px solid #ac6aec;
  }

  &:active {
    transform: scale(0.9);
  }
}
