@import "../../../styles/mixins.scss";

.contenCategory {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  gap: 10px;
}
.cotentTilteCat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  h1 {
    color: #fff;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      cursor: pointer;
      transition: transform 0.3s linear;
      &:active {
        transform: scale(0.9);
      }
      &:disabled {
        pointer-events: none;
        background-color: #c1c1c1;
      }
    }
  }

  p {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
  }
}

.contentProduct {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 10px;
}


.infoCategory {
  cursor: pointer;
  transition: transform 0.3s linear;

  &:active {
    transform: scale(0.9);
  }

  span {
    color: #fff;
  }
}
