.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 5px;
  width: 250px;
  height: 60px;
  border-radius: 7px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 7px;
  }
}

.userIconInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  overflow: hidden;

  h1 {
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  p {
    font-size: 14px;
    font-weight: 300;
    color: white;
  }
}
