.contenMainComercials {
  display: flex;
  align-items: center;
  justify-content: center;

  .tableComercials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: wheat;
  }
}
